* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  gap: 5px;
  background: linear-gradient(315deg, rgb(152, 207, 195), rgb(86, 181, 184), rgb(237, 242, 208));
  animation: animation 4.5s ease-in-out infinite;
}
.info:hover{
  transform: scale(1.02);
}

@keyframes animation {
  0% {
    transform: translateY(20px) ;
  }
  50% {
    transform: translate(0px) scale(1.05);
  }
  100% {
    transform: translateY(20px);
  }
}

.shadow {
  animation: animShadow 4.5s ease-in-out infinite;
  margin: auto;
  width: 270px;
}
@keyframes animShadow {
  0% {
    box-shadow: 0px 0px 26px 20px rgba(34, 60, 80, 0.2);
  }
  50% {
    
    box-shadow: 0px 0px 27px 7px rgba(34, 60, 80, 0.2);
  }
  100% {
    box-shadow: 0px 0px 26px 20px rgba(34, 60, 80, 0.2);
  }
}
