body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.cont {
  max-width: 500px;
  margin: 30px auto;
  padding: 40px;
  padding-left: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cont label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.cont input,
.cont textarea,
.cont select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.cont input:focus,
.cont textarea:focus,
.cont select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  resize: none;
  height: 100px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.comment2 {
  margin-top: 15px;
}

p {
  text-align: center;
  font-size: 14px;
  color: red;
}
h3 {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
}
